body {
    background-image: url(https://hanste-watermelon.github.io/images/backgrounds/back1.jpg); 
    background-color: #0000;}
.blur {
    -webkit-backdrop-filter: blur(40px); 
    backdrop-filter: blur(40px);}