body {
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-image: url(/images/background.jpg);
}

/*Navbar*/
.hs-navbar {
    background-color: var(--hs-bl-001) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    border-radius: var(--hs-rounded-size) !important;
    margin: var(--hs-margin-size) var(--hs-margin-size) 0 var(--hs-margin-size) !important;
    height: 55px;
    padding: 10px;
    z-index: 100 !important;
}
.hs-navbar-container {
    margin-left: 50% !important;
    transform: translateX(-50%) !important;
    max-width: var(--hs-container) !important;
    width: 100% !important;
    display: flex !important;
}
.hs-navbar-link {
    height: 31px !important;
    margin: 2px !important;
    text-decoration: none !important;
    line-height: 31px !important;
}
.hs-navbar-link-hover {
    -webkit-backdrop-filter: blur(20px) !important; 
    backdrop-filter: blur(20px) !important;
    background-color: var(--hs-bl-002) !important;
    border-radius: var(--hs-rounded-size) !important;
    display: none;
    position: absolute;
    left: var(--hs-margin-size) !important;
    right: var(--hs-margin-size) !important;
}
#hsnavbarlinksearchhover {
    -webkit-backdrop-filter: blur(20px) !important; 
    backdrop-filter: blur(20px) !important;
    background-color: var(--hs-bl-002) !important;
    border-radius: var(--hs-rounded-size) !important;
    display: none;
    position: static !important;
    margin: 0 var(--hs-margin-size) var(--hs-margin-size) var(--hs-margin-size) !important;
}
#hs-search-content {
    -webkit-backdrop-filter: blur(20px) !important; 
    backdrop-filter: blur(20px) !important;
    background-color: var(--hs-bl-001) !important;
    border-radius: var(--hs-rounded-size) !important;
    display: none;
    margin: 0 var(--hs-margin-size) var(--hs-margin-size) var(--hs-margin-size) !important;
}
/**/
/*Cookie-Modal*/
.hs-modal {
    position: fixed !important;
    z-index: 10000 !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
    background-color: var(--hs-bl-001) !important;
}

.hs-modal-content {
    margin: 10% auto !important;
    padding: 20px !important;
    border: 3px solid !important;
    border-image: conic-gradient() !important;
    width: 90% !important;
    max-width: 600px !important;
    border-image: linear-gradient(rgba(0, 0, 0, 0.0) 10%, var(--hs-tx-001) 50%, rgba(0, 0, 0, 0.0) 90%) 1 !important;
    border-radius: 0.75rem !important;
}

.hs-close {
    color: var(--hs-tx-001);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.hs-close:hover,
.hs-close:focus {
    color: var(--hs-tx-001);
    text-decoration: none;
    cursor: pointer;
}
/**/
/*Search*/
#hs-search-input {
    height: 40px !important;
    width: 100% !important;
    line-height: 32px !important;
    padding: 4px !important;
    background-color: var(--hs-bl-001) !important;
    color: var(--hs-tx-001) !important;
    border: none !important;
    border-radius: 0.375rem 0 0 0.375rem !important;
    margin-right: 0 !important;
}
#hs-search-input:focus {
    border: none !important;
    outline: none !important;
}
#hs-search-button {
    height: 40px !important;
    width: 40px !important;
    background-color: var(--hs-bl-001) !important;
    color: var(--hs-tx-001) !important;
    border: none !important;
    border-radius: 0 0.375rem 0.375rem 0 !important;
}
#hs-search-close {
    height: 40px !important;
    width: 40px !important;
    background-color: transparent !important;
    border: none !important;
    margin-left: 10px !important;
}
#hs-search-close:focus {
    border: none !important;
    outline: none !important;
}
/**/
/*Content*/
.hs-content {
    margin: 0 var(--hs-margin-size) var(--hs-margin-size) var(--hs-margin-size) !important;
    border-radius: var(--hs-rounded-size) !important;
}
/**/

.hs-blur-001 {
    -webkit-backdrop-filter: blur(20px) !important; 
    backdrop-filter: blur(20px) !important;
    background-color: var(--hs-bl-001) !important;
}
.hs-blur-001 {
    -webkit-backdrop-filter: blur(10px) !important; 
    backdrop-filter: blur(10px) !important;
    background-color: var(--hs-bl-002) !important;
}

.hs-h-100 {
    height: 100vh !important;
}

.hs-btn, .hs-btn:hover, .hs-btn:active, .hs-btn:focus {
    background-color: transparent !important;
    border: none !important;
}

.hs-container {
    max-width: var(--hs-container) !important;
}

.hs-bg-trans {
    background-color: #00000000 !important;
    color: #00000000 !important;
}

.hs-bg-001 {
    -webkit-backdrop-filter: blur(20px) !important; 
    backdrop-filter: blur(20px) !important;
    background-color: var(--hs-bg-001) !important;
}
.hs-bg-002 {
    -webkit-backdrop-filter: blur(20px) !important; 
    backdrop-filter: blur(20px) !important;
    background-color: var(--hs-bg-002) !important;
}
.hs-bg-003 {
    -webkit-backdrop-filter: blur(20px) !important; 
    backdrop-filter: blur(20px) !important;
    background-color: var(--hs-bg-003) !important;
}
.hs-bg-004 {
    -webkit-backdrop-filter: blur(20px) !important; 
    backdrop-filter: blur(20px) !important;
    background-color: var(--hs-bg-004) !important;
}
.hs-bg-005 {
    -webkit-backdrop-filter: blur(20px) !important; 
    backdrop-filter: blur(20px) !important;
    background-color: var(--hs-bg-005) !important;
}
.hs-bg-006 {
    -webkit-backdrop-filter: blur(20px) !important; 
    backdrop-filter: blur(20px) !important;
    background-color: var(--hs-bg-006) !important;
}
.hs-bg-007 {
    -webkit-backdrop-filter: blur(20px) !important; 
    backdrop-filter: blur(20px) !important;
    background-color: var(--hs-bg-007) !important;
}
.hs-bg-008 {
    -webkit-backdrop-filter: blur(20px) !important; 
    backdrop-filter: blur(20px) !important;
    background-color: var(--hs-bg-008) !important;
}
.hs-bg-009 {
    -webkit-backdrop-filter: blur(20px) !important; 
    backdrop-filter: blur(20px) !important;
    background-color: var(--hs-bg-009) !important;
}
.hs-bg-010 {
    -webkit-backdrop-filter: blur(20px) !important; 
    backdrop-filter: blur(20px) !important;
    background-color: var(--hs-bg-010) !important;
}
.hs-bg-011 {
    -webkit-backdrop-filter: blur(20px) !important; 
    backdrop-filter: blur(20px) !important;
    background-color: var(--hs-bg-011) !important;
}
.hs-bg-012 {
    -webkit-backdrop-filter: blur(20px) !important; 
    backdrop-filter: blur(20px) !important;
    background-color: var(--hs-bg-012) !important;
}

.hs-tx-black {
    color: var(--hs-tx-002) !important;
}

.hs-tx-white {
    color: var(--hs-tx-003) !important;
}

.hs-logo-light {
    display: var(--hs-loli) !important;
}

.hs-logo-dark {
    display: var(--hs-loda) !important;
}

:root,
[data-bs-theme="light"] {
    --hs-bg-001: rgba(255, 118, 118, 0.75) !important;
    --hs-bg-002: rgba(255, 211, 115, 0.75) !important;
    --hs-bg-003: rgba(241, 255, 115, 0.75) !important;
    --hs-bg-004: rgba(214, 255, 119, 0.75) !important;
    --hs-bg-005: rgba(138, 255, 115, 0.75) !important;
    --hs-bg-006: rgba(119, 255, 180, 0.75) !important;
    --hs-bg-007: rgba(114, 234, 255, 0.75) !important;
    --hs-bg-008: rgba(115, 171, 255, 0.75) !important;
    --hs-bg-009: rgba(116, 118, 255, 0.75) !important;
    --hs-bg-010: rgba(185, 123, 255, 0.75) !important;
    --hs-bg-011: rgba(255, 115, 220, 0.75) !important;
    --hs-bg-012: rgba(255, 121, 161, 0.75) !important;
    --hs-bl-001: rgba(255, 255, 255, 0.75) !important;
    --hs-bl-002: rgba(235, 235, 235, 0.75) !important;
    --hs-bg-noblur-001: rgba(200, 200, 200, 0.9) !important;
    --hs-tx-001: rgb(0, 0, 0) !important;    
    --hs-tx-002: rgb(0, 0, 0) !important;
    --hs-tx-003: rgb(255, 255, 255) !important;
}

[data-bs-theme="dark"] {
    --hs-bg-001: rgba(136, 0, 0, 0.75) !important;
    --hs-bg-002: rgba(143, 98, 0, 0.75) !important;
    --hs-bg-003: rgba(129, 143, 0, 0.75) !important;
    --hs-bg-004: rgba(96, 138, 0, 0.75) !important;
    --hs-bg-005: rgba(22, 129, 0, 0.75) !important;
    --hs-bg-006: rgba(0, 136, 61, 0.75) !important;
    --hs-bg-007: rgba(0, 117, 138, 0.75) !important;
    --hs-bg-008: rgba(0, 57, 143, 0.75) !important;
    --hs-bg-009: rgba(0, 2, 133, 0.75) !important;
    --hs-bg-010: rgba(62, 0, 133, 0.75) !important;
    --hs-bg-011: rgba(145, 0, 108, 0.75) !important;
    --hs-bg-012: rgba(139, 0, 42, 0.75) !important;
    --hs-bl-001: rgba(0, 0, 0, 0.75) !important;
    --hs-bl-002: rgba(20, 20, 20, 0.75) !important;
    --hs-bg-noblur-001: rgba(0, 0, 0, 0.9) !important;
    --hs-tx-001: rgb(255, 255, 255) !important;
    --hs-tx-002: rgb(0, 0, 0) !important;
    --hs-tx-003: rgb(255, 255, 255) !important;
}

[data-bs-theme="darkblue"] {
    --hs-bg-001: rgba(0, 136, 118, 0.75) !important;
    --hs-bg-002: rgba(0, 143, 131, 0.75) !important;
    --hs-bg-003: rgba(0, 110, 143, 0.75) !important;
    --hs-bg-004: rgba(0, 87, 138, 0.75) !important;
    --hs-bg-005: rgba(0, 77, 129, 0.75) !important;
    --hs-bg-006: rgba(0, 29, 136, 0.75) !important;
    --hs-bg-007: rgba(0, 11, 138, 0.75) !important;
    --hs-bg-008: rgba(0, 5, 143, 0.75) !important;
    --hs-bg-009: rgba(16, 0, 133, 0.75) !important;
    --hs-bg-010: rgba(47, 0, 133, 0.75) !important;
    --hs-bg-011: rgba(63, 0, 145, 0.75) !important;
    --hs-bg-012: rgba(100, 0, 139, 0.75) !important;
    --hs-bl-001: rgba(5, 0, 51, 0.75) !important;
    --hs-bl-002: rgba(25, 20, 71, 0.75) !important;
    --hs-bg-noblur-001: rgba(5, 0, 51, 0.9) !important;
    --hs-tx-001: rgb(255, 255, 255) !important;
    --hs-tx-002: rgb(0, 0, 0) !important;
    --hs-tx-003: rgb(255, 255, 255) !important;
    color-scheme: dark;
    --bs-body-color: #adb5bd;
    --bs-body-color-rgb: 173, 181, 189;
    --bs-body-bg: #212529;
    --bs-body-bg-rgb: 33, 37, 41;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(173, 181, 189, 0.75);
    --bs-secondary-color-rgb: 173, 181, 189;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(173, 181, 189, 0.5);
    --bs-tertiary-color-rgb: 173, 181, 189;
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #8bb9fe;
    --bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 139, 185, 254;
    --bs-code-color: #e685b5;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
}

:root {
    --hs-margin-size: 10px;
    --hs-rounded-size: 0.375rem;
}

p, h1, h2, h3, h4, h5, a {
    color: var(--hs-tx-001) !important;
}

@media (min-width: 1101px) {
    .hs-nav {
        display: flex !important;
    }
    .hs-nav-toggler {
        display: none !important;
    }
    :root {
        --hs-container: 1000px !important;
    }
}
@media (max-width: 1100px) {
    .hs-nav {
        display: none !important;
    }
    .hs-nav-toggler {
        display: inline-block !important;
    }
    :root {
        --hs-container: auto !important;
    }
}

.hidden {
    display: none;
}