.blur1 {
    -webkit-backdrop-filter: blur(15px); 
    backdrop-filter: blur(15px);
    background-color: rgba(115, 128, 0, 0.5);
}
.cardover {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    text-align: center;
}

.hs-bg-003 {
    background-color: rgb(225, 250, 0);
}
.hs-bg-014 {
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.0) 0%, rgb(255, 0, 0));
}
.hs-bg-016 {
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.0) 0%, rgb(225, 250, 0));
}